* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: 'Roboto', sans-serif;
}


html {
  font-size: 62.5%;
  overflow: hidden; /* Evitar scroll en la página */
}

body {
  width: 100vw;
  height: 100vh;
  padding: 8rem;
  display: flex;
  background-color: #080F14;
  color: #F0FFFF;
}

main {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.Contimg{
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fondimg {
  max-width: 100%;
  max-height: 100%;
  
  /*object-fit: cover;*/
}
.logo-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 1rem; /* Ajusta según sea necesario */
  left: 1rem; /* Ajusta según sea necesario */
  transform: translate(+27rem, +6rem); /* Centra el logo en la imagen de fondo */}
  

.logoimg {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.idatax {
  font-size: 3.7rem;
  font-weight: bold;
}

.Contreglog{
  flex:1;
  display: flex;
  padding: 4rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5.4rem;
}

.Continput{
  width: 28rem;
}
.Contregis{
  position: relative;
  height: 5rem;
  line-height: 5rem;
  margin: 0 0 5.5rem 0;
}

input.log{
  position: absolute;
  width: 100%;
  outline: none;
  font-size: 2.0rem;
  padding: 0 1.3rem;
  line-height: 4.5rem;
  background-color: transparent;
  color: #F0FFFF;
  border-radius: 10px;
  border: 0.2rem solid #F0FFFF;
  transition: 0.1s ease;
 
  z-index: 1111;
}

.Contregis:nth-child(4) {
  display: flex;
  justify-content:space-between;
  box-sizing: border-box;
  margin: 40px 0 0 0; 
  line-height: normal;
}

.Contegris2{
  width: calc((100% / 3) - 2rem);
  height: 5rem;
  position: relative;
  line-height: 2.5rem;
  margin: 0.5rem 0;
  
}
select.cap{
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  outline: none;
  font-size: 1.72rem;
  padding: 1.19rem 1.3rem;
  line-height: 4.5rem;
  background-color: transparent;
  color: #F0FFFF;
  border-radius: 1rem;
  border: 0.2rem solid #F0FFFF;
  transition: 0.1s ease;
  z-index: 1111;
  max-height: 5rem;
  min-height: 2rem;
  overflow-y: auto; 
}


input.date{
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  outline: none;
  font-size: 2.0rem;
  padding: 0 1.3rem;
  line-height: 4.5rem;
  background-color: transparent;
  color: #F0FFFF;
  border-radius: 1rem;
  border: 0.2rem solid #F0FFFF;
  transition: 0.1s ease;
  z-index: 1111;

}

.Plabelline{
  position: absolute;
  font-size: 1.6rem;
  color: #F0FFFF;
  padding: 1.19rem 0.6rem;
  margin: 0 1.5rem;
  background-color: #080F14;
  transition: 0.2s ease;
}

.labelline{
  position: absolute;
  font-size: 1.6rem;
  color: #F0FFFF;
  padding: 0 2rem;
  margin: 0 1.5rem;
  background-color:#080F14;
  transition: 0.2s ease;
}

input.log:focus,
input.log:valid{
  color: #3970BE;
  border: 0.2rem solid #3970BE;
}

input.log:focus + .labelline,
input.log:valid + .labelline{
  color: #3970BE;
  height: 2rem;
  margin: 0 2rem;
  padding: 0 1rem;
  line-height: 2rem;
  transform: translate(-1.7rem,-1rem)scale(0.88);
  z-index: 1111;
}

input.date:focus,
input.date:valid {
  color: #3970BE;
  border: 0.2rem solid #3970BE;
}

input.date:focus + .Plabelline,
input.date:valid + .Plabelline {
  color: #3970BE;
  height: 2rem;
  margin: 0 2rem;
  padding: 0 1rem;
  transform: translate(-1.4rem,-1.2rem)scale(0.88);
  z-index: 1111;
}

.btnregis{
  color: #F0FFFF;
  width: 28rem;
  height: 5rem;
  border-radius: 1rem;
  border: none;
  background-color:#3970BE ;
  font-size: 2.6rem;
  font-weight:bold;

}
.btnregis:hover {
  background-color: #0047AB; /* Cambia el color de fondo al pasar el ratón por encima */
  transform: scale(1.01); /* Agranda un poco el botón al pasar el ratón por encima */
}
.logacces{
  font-size: 1.3rem;
}
.logacces a {
  color: #3970BE;
}

.Encabezado {
  font-size: 3.7rem;
}
